@model ICollection<StreamItem>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CombinaryStream</title>
    <link rel="stylesheet" href="~/css/items.css" asp-append-version="true"/>
</head>
<body>
<section style="text-align: center; font-size: 200%">
    <a asp-action="JsonItemsAsync">Json</a> |
    <a asp-action="HtmlItems">Html</a>
</section>
<section class="l-combinary">
    <div class="l-combinary__col"></div>
    <div class="l-combinary__col"></div>
    <div class="l-combinary__col"></div>
    <div class="l-combinary__col"></div>
    @await Html.PartialAsync("_ItemsPartial", Model)
</section>
<script src="https://unpkg.com/colcade@0.2.0/colcade.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() { 

        // render layout
        new Colcade( '.l-combinary', {
            columns: '.l-combinary__col',
            items: '.l-combinary__item'
        });
        
        // hide smaller images
        Array.prototype.slice.call(document.querySelectorAll(".combinary__media")).forEach(function(m){
            var img = m.querySelector("img");
            if(img.naturalWidth <= 64 && img.naturalHeight <= 64) {
                m.style.display = 'none';
            }
        });
    });
</script>
</body>
</html>
