@model ICollection<StreamItem>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CombinaryStream</title>
</head>
<body>

<section style="text-align: center; font-size: 200%">
    <a asp-action="JsonItems">Json</a> |
    <a asp-action="HtmlItems">Html</a>
</section>

<div class="combinary" data-url="items.json" data-items="8" data-search="1" data-filter="1" data-limit-char="500"></div>
<script src="https://unpkg.com/@@acolono/combinary@1.0.2/widget.min.js" type="text/javascript"></script>

</body>
</html>
